body{
  text-align: center;
   font-size: large;
   background-color: wheat;
   border-style: solid;
   border-color: teal;
  border-width: 10px;
  padding-right: 0px;
  margin-top: 50px;
  margin-left: 500px;
  margin-right: 500px;
  padding-left: 0px;



}